body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
a {
  color: #113f67;
}
.vanilla-weather-app {
  max-width: 610px;
  background: white;
  margin: 45px auto;
  padding: 30px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
main {
  padding: 30px 0;
}
.search-form-input {
  width: 75%;
  padding: 15px 20px;
  border: none;
  background-color: #f9f7fe;
  font-size: 16px;
  border-radius: 6px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-btn {
  background-color: #113f67;
  padding: 15px 25px;
  color: #e7eaf6;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;
}
.search-form-btn:hover {
  background-color: #e7eaf6;
  color: #113f67;
  transition: 200ms ease-in-out;
}
.vanilla-weather-app-data {
  display: flex;
  justify-content: space-between;
}
.vanilla-weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.vanilla-weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
.vanilla-weather-app-details strong {
  color: #ff6f3c;
}
.vanilla-weather-app-temperature-container {
  display: flex;
}
.vanilla-weather-app-icon {
  width: 88px;
  height: 88px;
}
.vanilla-weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 88px;
}
.vanilla-weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
  line-height: 22px;
  font-weight: bold;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
